.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .group-name
        = @group.name
        %ul.member-name
          Member : 
          - @group.users.each do |user| 
            %li.member-list
              = user.name
    = link_to edit_group_path(@group), class: "edit-btn" do
      Edit

  .chat-main__message-field
    = render @messages

  .message-form
    = form_with model: [@group, @message], html: {class: "form-contents"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image-file'
        = f.submit 'Send', class: 'submit-btn'