.side-bar
  .side-bar__user-name
    .text-box
      .user-name
        = current_user.name
      .icon
      = link_to new_group_path,  class: "text-box__icon" do
        = icon('far', 'edit')
      = link_to edit_user_path(current_user), class: "text-box__icon" do
        = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group-name
            = group.name
          .message
            = group.show_last_message